body{
    background-color: cornsilk;
}

h2{
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 24px;
}

h3{
    font-size: 1.6em;
}

/*Introductory Section*/
#introductory-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    margin-bottom: 80px;
}

#introductory-part h1{
    font-size: 3.7em;
    margin-bottom: 10px;
}

#introductory-part hr{
    width: 50%;
    border: 3px solid black;
    border-radius: 3px;
    margin-bottom: 40px;
    animation: hrAnimation 0.3s ease forwards;
}

@keyframes hrAnimation{
    0%{
        width: 0;
    }
    10%{
        width: 5%;
    }
    20%{
        width: 10%;
    }
    30%{
        width: 15%;
    }
    40%{
        width: 20%;
    }
    50%{
        width: 25%;
    }
    60%{
        width: 30%;
    }
    70%{
        width: 35%;
    }
    80%{
        width: 40%;
    }
    90%{
        width: 45%;
    }
    100%{
        width: 50%;
    }
}

#introductory-part p{
    width: 60%;
    font-size: 1.75em;
    line-height: 1.5em;
    font-weight: bold;
}

/*Comments Section*/
#comments-section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

#comments-section .comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

#comments-section .comment img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#comments-section .comment span{
    font-size: 1.2em;
    margin: 8px 0;
}

#comments-section .comment .point{
    font-size: 1.1em;
    font-style: italic;
}

#comments-section .comment p{
    font-size: 1.15em;
    line-height: 28px;
}

#comments-section .comment .stars{
    padding-bottom: 8px;
}

#comments-section .comment .stars .checked{
    color: green;
}

/*Price Info Section*/
#price-info-section{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

#price-info-section h3{
    text-align: center;
}

#price-info-section .classes{
    background-color: white;
    width: 360px;
    padding: 35px;
    border-radius: 10%;
    line-height: 2em;
}

#price-info-section .classes:first-child{
    margin-right: 80px;
}

#price-info-section .classes span{
    font-size: 1.3em;
    font-style: italic;
    display: block;
    text-align: center;
    margin-top: 8px;
}

#price-info-section .classes ul{
    list-style-type:disc;
    padding: 10px 20px;
}

#price-info-section .classes ul li{
    font-size: 1.2em;
}

/*Application Section*/
form{
    padding: 0 25px;
}
#application-section{
    padding: 0 25px;
}

/*Step 1*/
#lessons-section{
    padding: 10px;
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#lessons-section i{
    font-size: 5em;
    margin-bottom: 10px;
}
#lessons-section span{
    font-size: 1.25em;
}

#lessons-section label{
    width: 15%;
}

.lesson{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;
    color: white;
    background-color: gray;
    justify-content: center;
    border-radius: 25%;
}

.lesson:hover{
    cursor: pointer;
}

#social-studies-turkiye span{
    position: relative;
    bottom: 50px;
}

#lessons-section .radio-buttons{
    display: none;
}

/*Topic Selection*/
#topics-section{
    margin-bottom: 40px;
}

#topics-section span{
    font-size: 1.2em;
}

.topics-list{
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin-top: 12px;
}

.column1{
    display: flex;
    flex-direction: column;
}

.column1 div{
    margin-bottom: 16px;
}

.column2 div{
    margin-bottom: 16px;
}

.topics-list label{
    font-size: 1.15em;
    line-height: 1.5em;
}

.topics-list{
    display: none;
}

.active-topic{
    display: flex;
}

/*Step 2*/
/*Calendar*/
.wrapper{
    background-color: white;
    width: 450px;
    border-radius: 10px;
    margin: 20px 0;
}

.wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}

header .current-date{
    font-size: 1.45em;
    font-weight: 500;
}

header .icons i{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color:darkgrey;
    text-align: center;
    line-height: 38px;
    margin: 0 2px;
    cursor: pointer;
}

header .icons i:last-child{
    margin-right: -10px;
}

header .icons i:hover{
    background-color: grey;
}

.calendar{
    padding: 20px;
}

.calendar .days{
    margin-bottom: 20px;
}

.calendar .weeks li{
    font-weight: bold;
}

.calendar .days li{
    z-index: 1;
    margin-top: 30px;
    cursor: pointer;
}

.calendar .days .inactive{
    color: #aaa;
}

.days li.active{
    color: white;
}

.calendar ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li{
    width: calc(100%/7);
    position: relative;
}

.calendar .days li::before{
    z-index: -1;
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.calendar .days li:not(.active):hover::before{
    background-color: #f2f2f2;
}

.days li.active::before{
    background-color: #9B59B6;
}

#date{
    display: none;
}

/*Time Input*/
.wrapper .time-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

.wrapper .time-input input{
    border: none;
    font-size: 1.5em;
    text-align: center;

}

.wrapper .time-input span{
    font-size: 1.3em;
    margin-right: 20px;
}

/*Step 3*/
#container-step-three{
    width: 50%;
}

.communication-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.communication-info label{
    margin-bottom: 8px;
    font-size: 1.05em;
}

.communication-info label:first-child{
    margin-top: 16px;
}

.communication-info input{
    margin-bottom: 24px;
    border: none;
    border-bottom: 3px solid black;
    background-color: cornsilk;
    font-size: 1.2em;
    width: 80%;
    padding: 8px;
}
.communication-info input:focus{
    outline: none;
}

/*Container of step two and three*/
.container{
    display: flex;
    justify-content: space-between;
}

/*Step 4*/
select{
    width: 200px;
    padding: 10px 10px;
    background-color: cornsilk;
    font-size: 1.1em;
    margin-bottom: 24px;
}

.step-four-span{
    font-size: 1.2em;
    margin-bottom: 16px;
}

.step-four-span:first-of-type{
    display: block;
}

.preference-span{
    margin-left: 20px;
    font-size: 1.1em;
}

#file-input{
    font-size: 1em;
    margin-bottom: 24px;
}

#additionalInformation{
    margin-top: 12px;
    margin-bottom: 40px;
    width: 50%;
    height: 200px;
    font-size: 1.15em;
    padding: 12px;
    resize: none;
    background-color: cornsilk;
    border: 1.5px solid black;
}

/*Submission Part*/
#submit-btn{
    background-color: lightblue;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
    padding: 15px;
    border: none;
    border-bottom: 2px solid black;
    width: 20%;
    border-radius: 10px;
    font-size: 1.15em;
}

#submit-btn:hover{
    background-color: rgb(255, 192, 75);
    color: white;
    border: 1px solid white;
}
